# Provider variables
CACHE_ENABLE=<set flag true|false>
CACHE_ADDRESS=<set cache IP|DomainName>
CACHE_PORT=<set cache port>
CHAIN_ID=<set chain_id>
CONFIG_PATH=/root/.lava
GEOLOCATION=<set geolocation>
WALLET=<set key name>
KEYRING=<set keyring type>
LOGLEVEL=info
METRICS_LISTEN_ADDRESS=<set listen address>
METRICS_PORT=<set metrics port>
MONIKER=<set moniker name>
REWARDS_STORAGE_DIR=rewards-storage
RPC=<set lava rpc url>
TOTAL_CONNECTIONS=10
