### Provider variables ###

# Enable or disable cache based on requirements.
# Set to true to enable, false to disable.
CACHE_ENABLE="{{ provider_config.cache.enable | lower }}"

# Specify the IP address or domain name of the cache server.
CACHE_ADDRESS="{{ provider_config.cache.address }}"

# Define the port number on which the cache server is running.
CACHE_PORT="{{ provider_config.cache.port }}"

# Unique identifier for the blockchain network. Default is 'lava-testnet-2'.
CHAIN_ID="{{ provider_config.chain_id }}"

# Directory path for storing the provider's configuration files.
# Default path is '/root/.lava'.
CONFIG_PATH="{{ provider_config.config_path }}"

# Geolocation of the node, used for network optimization and identification.
GEOLOCATION="{{ provider_config.geolocation }}"

# Name of the wallet used for transactions.
WALLET="{{ wallet.name }}"

# Storage mechanism for keys, such as 'os', 'file', or 'pass'.
KEYRING_BACKEND="{{ wallet.keyring_backend }}"

# Verbosity level of logs output.
LOGLEVEL="{{ provider_config.log_level }}"

# Port number for exposing Prometheus metrics.
METRICS_PORT="{{ provider_ports.metrics }}"

# Custom name to identify your provider node within the network.
MONIKER="{{ provider_config.moniker }}"

# Directory to store rewards data.
REWARDS_STORAGE_DIR="{{ provider_config.rewards_storage_dir }}"

# URL to access the public RPC server for the network.
PUBLIC_RPC="{{ provider_config.public_rpc_url }}"

# Total number of simultaneous network connections the node will attempt to maintain.
TOTAL_CONNECTIONS="{{ provider_config.total_connections }}"
