release/
build/

vue/src/store/generated/
vue/node_modules/
vue/dist/

scripts/vars/

testutil/e2e/logs/
testutil/debugging/

ecosystem/**/package-lock.json

.github/
.git/
.idea/
.vscode/
.storage/

Dockerfile