build/
release/
ts-client/

# Intellij
.idea/

# macOS
.DS_Store

# vscode
.vscode/

# vim
.*.sw?

# Vue
vue/src/store/generated/
vue/node_modules
vue/dist

# Logs and debug
scripts/automation_scripts/automation_results*
testutil/e2e/protocolLogs/
testutil/e2e/sdkLogs/
testutil/debugging/
testutil/e2e/logs/

# Misc
scripts/vars/
rpcprovider.yml
rpcconsumer.yml

# Node modules
**/node_modules

# Pairing lsit
**/pairingList.json

# Lava SDK ignores 
ecosystem/lava-sdk/node_modules/*
ecosystem/lava-sdk/src/js/*
ecosystem/lava-sdk/dist/main.js
ecosystem/lava-sdk/thirdparty_protobufs/*
ecosystem/lava-sdk/dist/*
ecosystem/lava-sdk/.dccache
ecosystem/lava-sdk/.idea
ecosystem/lava-sdk/.vscode
ecosystem/lava-sdk/.npmrc
ecosystem/lava-sdk/package-lock.json
ecosystem/lava-sdk/examples/jsonRPC_test.ts
ecosystem/lava-sdk/examples/restAPI_test.ts
ecosystem/lava-sdk/examples/tendermintRPC_test.ts
ecosystem/lava-sdk/examples/tendermintRPC_test2.ts
ecosystem/lava-sdk/examples/jsonRPC_badge_test.ts
ecosystem/lava-sdk/examples/consumerSessionManager_test.ts
ecosystem/lava-sdk/pairingList.json
# ecosystem/lava-sdk/proto/**/*[!.proto] #tried but didnt work
ecosystem/lava-sdk/proto/**/*.yaml
ecosystem/lava-sdk/proto/**/*.bazel
ecosystem/lava-sdk/proto/**/*.bzl
ecosystem/lava-sdk/proto/**/*.md
ecosystem/lava-sdk/proto/**/*.sh
ecosystem/lava-sdk/proto/**/*.json
ecosystem/lava-sdk/proto/**/*.go
ecosystem/lava-sdk/proto/cosmos/cosmos-sdk/amino
ecosystem/lava-sdk/proto/cosmos/cosmos-sdk/cosmos
ecosystem/lava-sdk/proto/cosmos/cosmos-sdk/gogoproto
ecosystem/lava-sdk/proto/cosmos/cosmos-sdk/google
ecosystem/lava-sdk/proto/cosmos/cosmos-sdk/tendermint
ecosystem/lava-sdk/src/codec


# Ignore the bin and dist folders and their content
ecosystem/lava-sdk/bin/*
ecosystem/lava-sdk/dist/*


# lavaJS ignores
ecosystem/lavajs/main
ecosystem/lavajs/module
ecosystem/lavajs/.npmrc
ecosystem/lavajs/src
ecosystem/lavajs/types
ecosystem/lavajs/dist
ecosystem/lavajs/mjs
# protobufs lavajs
ecosystem/lavajs/proto/lavanet
ecosystem/lavajs/proto/amino
ecosystem/lavajs/proto/cosmos
ecosystem/lavajs/proto/gogoproto
ecosystem/lavajs/proto/google
ecosystem/lavajs/proto/tendermint

testutil/e2e/sdk/tests/package-lock.json
testutil/e2e/sdk/tests/package.json

testutil/e2e/sdk/tests/package.json
testutil/e2e/sdk/tests/package-lock.json
testutil/e2e/sdk/tests/node_modules.json



