build/
release/
ts-client/

# Intellij
.idea/

# macOS
.DS_Store

# vscode
.vscode/

# vim
.*.sw?

# Vue
vue/src/store/generated/
vue/node_modules
vue/dist

# Logs and debug
scripts/automation_scripts/automation_results*
testutil/e2e/logs/
testutil/debugging/

# Misc
scripts/vars/
rpcprovider.yml
rpcconsumer.yml

# Lava SDK ignores 
ecosystem/lava-sdk/node_modules/*
ecosystem/lava-sdk/src/js/*
ecosystem/lava-sdk/dist/main.js
ecosystem/lava-sdk/thirdparty_protobufs/*
ecosystem/lava-sdk/proto/*
ecosystem/lava-sdk/dist/*
ecosystem/lava-sdk/.dccache
ecosystem/lava-sdk/.idea
ecosystem/lava-sdk/.vscode
ecosystem/lava-sdk/.npmrc
ecosystem/lava-sdk/package-lock.json
ecosystem/lava-sdk/examples/jsonRPC_test.ts
ecosystem/lava-sdk/examples/restAPI_test.ts
ecosystem/lava-sdk/examples/tendermintRPC_test.ts
ecosystem/lava-sdk/examples/jsonRPC_badge_test.ts
ecosystem/lava-sdk/bin/examples/jsonRPC_test.d.ts
ecosystem/lava-sdk/bin/examples/restAPI_test.d.ts
ecosystem/lava-sdk/bin/examples/tendermintRPC_test.d.ts
ecosystem/lava-sdk/bin/examples/jsonRPC_badge_test.d.ts
ecosystem/lava-sdk/bin/examples/jsonRPC_test.js
ecosystem/lava-sdk/bin/examples/restAPI_test.js
ecosystem/lava-sdk/bin/examples/tendermintRPC_test.js
ecosystem/lava-sdk/bin/examples/jsonRPC_badge_test.js
ecosystem/lava-sdk/pairingList.json

# Reward server ignores
.storage/
badger_test