### Node variables ###

# The URL to download the address book.
ADDRBOOK_URL="{{ node_config.addrbook_url }}"

# The unique identifier for the blockchain network.
CHAIN_ID="{{ node_config.chain_id }}"

# The directory path where the node's configuration files are stored.
CONFIG_PATH="{{ node_config.config_path }}"

# The URL to download the genesis file of the network.
GENESIS_URL="{{ node_config.genesis_url }}"

### Enable state sync
# Whether to enable state synchronization from other nodes. (true|false)
STATE_SYNC="{{ node_config.state_sync | lower }}"
# Blocks behind the highest height to start the state sync. (default: 1000)
DIFF_HEIGHT="{{ node_config.diff_height }}"

# AppDBBackend defines the database backend type to use for the application and snapshots DBs. (default: goleveldb)
# Database backends: goleveldb | cleveldb | boltdb | rocksdb | badgerdb
DB_BACKEND="{{ node_config.database_backend }}"

### Set the wallet name and password.
# The local name for the user's wallet.
WALLET="{{ wallet.name }}"
# The password for the wallet, must be at least 8 characters.
WALLET_PASS="{{ wallet.password }}"
# The storage mechanism for keys. (default: os)
KEYRING_BACKEND="{{ wallet.keyring_backend }}"

### Set the logging level.
# The verbosity of logs output [trace|debug|info|warn|error|fatal|panic] (default: info)
LOGLEVEL="{{ node_config.log_level }}"

### Moniker name
# The custom name to identify your node in the network.
MONIKER="{{ node_config.moniker | default('node') }}"

### Set the peers or seeds.
# Direct connections for network communication.
PEERS="{{ node_config.peers }}"
# Known nodes to help discover other peers in the network.
SEEDS="{{ node_config.seeds }}"

### Metrics and node communication ports.
{% if node_ports.grpc is defined %}
# GRPC port for node communication. (default: 9090)
NODE_GRPC_PORT="{{ node_ports.grpc }}"
{% endif %}
{% if node_ports.jrpc is defined %}
# JSON-RPC port for node communication (default: 8545)
NODE_JRPC_PORT="{{ node_ports.jrpc }}"
{% endif %}
{% if node_ports.api is defined %}
# API port for node communication. (default: 1317)
NODE_API_PORT="{{ node_ports.api }}"
{% endif %}
{% if node_ports.p2p is defined %}
# The port for peer-to-peer network communication. (default: 26656)
NODE_P2P_PORT="{{ node_ports.p2p }}"
{% endif %}
{% if node_ports.rpc is defined %}
# The port for RPC server. (default: 26657)
NODE_RPC_PORT="{{ node_ports.rpc }}"
{% endif %}
{% if node_ports.metrics is defined %}
# The port for Prometheus metrics. (default: 26660)
METRICS_PORT="{{ node_ports.metrics }}"
{% endif %}

### Public RPC URL
# The URL to access the public RPC server for the network.
PUBLIC_RPC="{{ node_config.public_rpc_url }}"
